#chart {
	width: 900px;
	height: 500px;
}

.dataline {
	fill: none;
	stroke: #222;
	stroke-width: 1.5px;
	shape-rendering: geometricPrecision;
}

.fakeline {
	fill: none;
	stroke: #222;
	stroke-dasharray: 5,5;
	stroke-width: 1.5px;
	shape-rendering: geometricPrecision;
}

.dataline .selected {
	stroke: #000;
}

svg .axis path,
svg .axis line {
	fill: none;
	stroke: #555;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

svg .axis.y .gridline {
	stroke: #ddd;
	opacity: 0.5;
}

svg .axis text {
	font-family: "DejaVu Sans";
	font-size: 9px!important;
}

svg .test {
	stroke: #000;
}

svg .name {
	font-size: 10px;
	dominant-baseline: middle;
}

svg path#range {
	fill: #0AA49C;
	stroke: none;
	opacity: 0.15;
}